body{
    background-color: #fcf4e6;
   
}
.Navbar_style{
    background-color: #dbcbad;
    color: white;
}
.cart_desc_style{
    background-color: #fcf4e6;
}
/*#c49e68;*/
.give_feedback_style{
    background-color: #e8dac1;
}